/* COLORS*/
//dark colors
$main-dark: #101010;
$secondary-color-dark: #1e1e1e;
$headers-dark: #f2f2f2;
$paragraph-font-dark: #898989;
// light mode colors
$main-light: #EFEFEF;
$secondary-color-light: #E4E4E4;
$headers-light: #1e1e1e;
$paragraph-font-light: #4f4f4f;
$project-font-color-light: #737373;
$projects-background-dark: #1c1c1c;
$projects-background-light:#F9F9F9;
$font-light: #1e1e1e;
//fixed colors
$button-main : #5552FF;
$button-secondary : #c2c0ff;
$borders: #cacaca;
// alert colors 
$danger-color: #ff3838;
$success-color: #2ec946;
//hover
$hover: #41b468;

/*FUNCTIONS*/ 
@mixin reset-list-styles {
    li {
        list-style-type: none;
        a{
            color: black;
            text-decoration: none;
            text-transform: capitalize;
        }
    }
  }
@mixin flex($justify-content, $align-items, $direction, $gap) {
    display: flex;
    justify-content: $justify-content;
    align-items:  $align-items;
    flex-direction: $direction;
    gap:  $gap;
}
@mixin btn(){
    ul{
        @include flex(space-around, center, row,_ );
        @include reset-list-styles();
        .btn {
            font-size: 20px;
            padding: 12px 20px;
            border-radius: 8px;
            cursor: pointer;
        }
        li{
            a{
                color: white;
            }
        }
        .main-btn{
            background-color: $button-main;
            transition: 0.5s ease-in-out;
            color: #D0D5DD;
            &:hover{
                scale: 1.05;
                background-color: $hover;
                color: black;
            }
            a{
                transition: 0.5s ease-in-out;
                &:hover{
                    color: black;
                }

            }
        }
        .secondary-btn{
            background-color: $button-secondary;
            transition: 0.5s ease-in-out;
            color: black;
            a{
                color: black;

            }
        }
        .secondary-btn:hover{
            scale: 1.05;
        }

    }
    @media screen and (max-width: 425px) {
        ul{
            .btn {
                font-size: 15px;
            }
        }
    }
    @media screen and (max-width: 320px) {
        ul{
            .btn {
                font-size: 13px;
            }
        }
    }
}

@mixin section ($width, $height){
    width: $width;
    height: $height;
    margin: 0 auto;
}
.section{
    @include section(100%, 100vh);
    //border: 1px solid red;
    @media screen and (max-width: 425px) {
        height: fit-content;  
    }
}
.skills-section{
    @include section(100%, 100vh);
    //border: 1px solid red;
    @media screen and (max-width: 1024px) {
        height: fit-content;  
    }
}

.container{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    //border: 1px solid green;
    @media screen and (max-width: 320px) {
        width: 90%;
    }
    
}

.info{
    text-align: center;
    padding: 0 4rem 1rem;
    h1{
        margin-bottom: 1rem;
        color: $headers-dark;
        font-size: 42px;
        font-weight: 600;
        .light & {
            color: $headers-light;
        }
    }
    p{
        color: $paragraph-font-dark;
        font-size: 16px;
        font-weight: 400;
        .light & {
            color: $paragraph-font-light;
        }
    }
    @media screen and (max-width: 1440px) {
        h1{
            margin-bottom: 1rem;
        }
        p{
            margin-bottom: 1rem;
        }
    }
    @media screen and (max-width: 425px) {
        padding: 0 0.5rem 1rem;
    }

}
.features{
    padding: 5rem  2.5rem;
    height: 100%;
    background-color: $secondary-color-dark;
    .light & {
        background-color: $main-light;
    }
    @media screen and (max-width: 425px) {
        padding: 5rem 1rem;
    }
}