/* COLORS*/
//dark colors
$main-dark: #101010;
$secondary-color-dark: #1e1e1e;
$headers-dark: #f2f2f2;
$paragraph-font-dark: #898989;
// light mode colors
$main-light: #EFEFEF;
$secondary-color-light: #E4E4E4;
$headers-light: #1e1e1e;
$paragraph-font-light: #4f4f4f;
$project-font-color-light: #737373;
$projects-background-dark: #1c1c1c;
$projects-background-light:#F9F9F9;
$font-light: #1e1e1e;
//fixed colors
$button-main : #5552FF;
$button-secondary : #c2c0ff;
$borders: #cacaca;

/*FUNCTIONS*/ 
@mixin reset-list-styles {
    li {
        list-style-type: none;
        a{
            color: black;
            text-decoration: none;
            text-transform: capitalize;
        }
    }
  }
@mixin flex($justify-content, $align-items, $direction, $gap) {
    display: flex;
    justify-content: $justify-content;
    align-items:  $align-items;
    flex-direction: $direction;
    gap:  $gap;
}
@mixin btn(){
    ul{
        @include flex(space-around, center, row,_ );
        @include reset-list-styles();
        .btn {
            font-size: 20px;
            padding: 12px 20px;
            border-radius: 8px;
        }
        .main-btn{
            background-color: $button-main;
            a{
                color: #D0D5DD;
            }
        }
        .secondary-btn{
            background-color: $button-secondary;
        }

    }
}
@mixin section ($width, $height){
    width: $width;
    height: $height;
    margin: 0 auto;
}
.section{
    @include section(100%, 100vh);
    border: 1px solid red;
}
.container{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    border: 1px solid green;
    
}
.info{
    text-align: center;
    padding: 0 4rem 1rem;
    h1{
        margin-bottom: 1rem;
        color: $headers-dark;
        .light & {
            color: $headers-light;
        }
    }
    p{
        color: $paragraph-font-dark;
        .light & {
            color: $paragraph-font-light;
        }
    }
}