@import '_variables';

.about{
    @include flex(space-between, _, row,_ );
    padding: 95px 0;
    .about-info{
        width: 50%;
        @include flex(flex-start, _, column,_ );
        div:nth-child(1){
            @include flex(flex-start, _, column, 2rem );
            h1{
                font-size: 42px;
                font-weight: 600;
                text-transform: capitalize;
                .light & {
                    color: $font-light;
                }
            }
            p{
                font-size: 22px;
                color: $paragraph-font-dark;
                .light & {
                    color: $paragraph-font-light;
                }
            }
        }
        div:nth-child(3){
            @include btn();
            display: flex;
        }
    }
    .imgContainer{
        width: fit-content;
        border-radius: 10px;
        img{
            box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.5);
            border-radius: 10px;
            height: 100%;
            width: 100%;
            filter: grayscale(1);
            transition: 1s ease-in-out;
        }
        img:hover{
            filter: grayscale(0);
        }
    }
}


@media screen and (max-width: 1024px) {
    .about{
        padding: 80px 0;
        .about-info{
            div:nth-child(1){
                h1{
                    font-size: 32px;
                }
                p{
                    font-size: 14px;
                }
            }
        }  
        .imgContainer{
            width: 70%;
            height: fit-content;
        }
    }
}
@media screen and (max-width: 768px) {
    .about{
        padding: 80px 0;
        .about-info{
            div:nth-child(1){
                h1{
                    font-size: 32px;
                }
                p{
                    font-size: 14px;
                }
            }
        }  
        .imgContainer{
            margin-top: 3rem;
            width: 60%;
            height: fit-content;
        }
    }
}
@media screen and (max-width: 425px) {  
    .about{
        padding: 80px 0 50px 0;
        @include flex(space-evenly, _, column-reverse, 1rem );
        .about-info{
            width: 100%;
        }
        .imgContainer{
            margin-top: 1rem;
            width: 100%;
            height: fit-content;
        }
    }
}

  