@import '_variables';

.about{
    @include flex(space-between, _, row,_ );
    padding: 80px 0;
    .about-info{
        width: 50%;
        @include flex(flex-start, _, column,_ );
        div:nth-child(1){
            @include flex(flex-start, _, column, 2rem );
            h1{
                font-size: 42px;
                font-weight: 600;
                text-transform: capitalize;
                .light & {
                    color: $font-light;
                }
            }
            p{
                font-size: 22px;
                color: $paragraph-font-dark;
                .light & {
                    color: $paragraph-font-light;
                }
            }
        }
        div:nth-child(2){
            height: 3rem;
            margin: 2rem 0 2rem 0;
            width: 50%;
            @include flex(flex-start, center, row, 20px );
            .socialIcons{
                width: 2.5rem;
                height: 2.5rem;
                border: 1px solid $borders;
                padding: 0.5rem;
                border-radius: 8px;
                .light & {
                    background-color: #F9F9F9;
                }
                .Vector, .Vector_2, .Vector_3, .Vector_4{
                    stroke: $headers-dark;
                    .light & {
                        stroke: $secondary-color-dark;
                    }
                }
            }
        }
        div:nth-child(3){
            @include btn();
            display: flex;
        }
    }
    .imgContainer{
        width: fit-content;
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        img{
            border-radius: 10px;
            height: 100%;
            width: 100%;
            filter: grayscale(1);
            transition: 1s ease-in-out;
        }
        img:hover{
            filter: grayscale(0);
        }
    }
}
