@import "_variables";
main {
  .hero_container {
    width: 100%;
    padding-bottom: 2rem;
    height: 90vh;
    background-color: $secondary-color-dark;
    .light & {
      background-color: $secondary-color-light;
    }
    .hero {
      width: 1200px;
      margin: 0 auto;
      @include flex(space-between, center, row, _);
      .page_info {
        width: 40%;
        text-align: left;
        padding-bottom: 1rem;
        position: relative;
        &::after {
          content: "";
          display: block;
          width: 60%;
          border-bottom: 2px solid $button-main;
          position: absolute;
          bottom: 0;
        }
        h1 {
          font-size: 38px;
          font-weight: 500;
          margin-bottom: 1rem;
          .light & {
            color: $font-light;
          }
        }
        p {
          font-size: 18px;
          line-height: 30px;
          color: $paragraph-font-dark;
          .light & {
            color: $paragraph-font-light;
          }
        }
      }
      .latest_articles {
        @include flex(center, center, row, _);
        width: 50%;
        .latest_article {
          height: 23rem;
          display: block;
          width: 100%;

          .latest_article_comp {
            border: 1px solid $borders;
            height: 100%;
            padding: 1rem;
            border-radius: 8px;
            background-color: $projects-background-dark;
            box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.08);
            transition: 0.5s ease-in-out;
            .img {
              height: 50%;
              border-radius: 8px;
              margin-bottom: 0.4rem;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 8px;
              }
            }
            .latest_article_info {
              text-align: left;
              margin: 0;
              width: 100%;
              a {
                font-weight: 500;
                font-size: 24px;
                color: $headers-dark;
                margin-top: 0.7rem;
                cursor: pointer;
                transition: 0.5s ease-in-out;
                &:hover {
                  color: $hover;
                }
                .light & {
                  color: $paragraph-font-light;
                  &:hover {
                    color: $hover;
                  }
                }
              }
              .latest_metadata {
                width: 100%;
                margin: 0.5rem 0 1rem 0;
                @include flex(flex-start, center, _, 2rem);
                .genres {
                  @include flex(_, flex-start, _, 0.5rem);
                  margin: 0px;
                  @include flex(_, center, _, 0.5rem);
                  p {
                    color: $paragraph-font-dark;
                    .light & {
                      color: $paragraph-font-light;
                    }
                  }
                  .genre {
                    @include flex(center, center, _, 0.5rem);

                    border: 1px solid $borders;
                    margin: 0;
                    width: fit-content;
                    padding: 0.3rem 0.5rem;
                    background-color: $tag-background-dark;
                    border-radius: 50px;
                    transition: 0.3s ease-in-out;
                    font-size: 14px;
                    font-weight: 300;
                    &:hover {
                      background-color: $tag-background-dark-hover;
                    }
                    .light & {
                      color: $paragraph-font-light;
                      border: 1px solid $borders-light;
                      background-color: $tag-background-light;
                      &:hover {
                        background-color: $tag-background-light-hover;
                      }
                    }
                  }
                  span > img {
                    height: 1rem;
                  }
                }

                p {
                  font-weight: 400;
                  font-size: 16px;
                  color: $paragraph-font-dark;
                  .light & {
                    color: $project-font-color-light;
                  }
                  &.description {
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 3; // Number of lines to display before ellipsis
                    -webkit-box-orient: vertical;
                    text-overflow: ellipsis;
                  }
                }
              }
              p {
                font-weight: 400;
                font-size: 16px;
                color: $paragraph-font-dark;
                .light & {
                  color: $project-font-color-light;
                }
                &.description {
                  overflow: hidden;
                  display: -webkit-box;
                  -webkit-line-clamp: 3; // Number of lines to display before ellipsis
                  -webkit-box-orient: vertical;
                  text-overflow: ellipsis;
                }
              }
            }
            &:hover {
              background-color: #000;
            }
            .light & {
              background-color: $projects-background-light;
              border: 1px solid $borders-light;

              &:hover {
                background-color: #fff;
                box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.2);
              }
            }
          }
        }
      }
    }
  }
  .articles_section {
    width: 1200px;
    margin-top: 2rem;
    .search_section {
      width: 60%;
      padding: 0 1rem;
      margin: 0 auto;
      text-align: center;
      h1 {
        font-size: 32px;
        font-weight: 500;
        margin-bottom: 1rem;
        .light & {
          color: $font-light;
        }
      }
      form {
        display: flex;
        @include flex(center, center, row, 1rem);
        input {
          border: none;
          margin: 5px 0;
          padding: 10px;
          border-radius: 8px;
          width: 80%;
          height: 2.5rem;
          outline: none;
          background-color: $search-bar;
          border: 1px solid $borders;
          &::placeholder {
            color: #929292;
          }
          .light & {
            background-color: #d0d5dd;
            border: 1px solid $borders-light;
          }
        }
        button {
          padding: 8px 20px;
          justify-content: center;
          align-items: center;
          width: 20%;
          gap: 15px;
          border-radius: 8px;
          background-color: $button-main;
          color: $headers-dark;
          font-size: 20px;
          font-weight: 400;
          cursor: pointer;
          border: none;
          transition: 0.5s ease-in-out;
          .light & {
            background-color: $button-main;
          }
          &:hover {
            scale: 1.01;
            background-color: $hover;
            color: black;
          }
        }
      }
    }
    .genres {
      width: 100%;
      margin-top: 1rem;
      @include flex(space-between, center, row, 1rem);
      flex-wrap: wrap;
      .genre {
        cursor: pointer;
        padding: 0.4rem 0.8rem;
        @include flex(space-between, center, row, 0rem);
        border: 1px solid $borders;
        background-color: $tag-background-dark;
        border-radius: 50px;
        transition: 0.3s ease-in-out;
        font-size: 14px;
        font-weight: 300;
        &:hover {
          background-color: $tag-background-dark-hover;
        }
        .light & {
          color: $paragraph-font-light;
          border: 1px solid $borders-light;
          background-color: $tag-background-light;
          &:hover {
            background-color: $tag-background-light-hover;
          }
        }
      }
      p {
        transition: 0.5s ease-in-out;
        color: $paragraph-font-dark;
        .light & {
          color: $paragraph-font-light;
        }
        svg {
          path {
            transition: 0.5s ease-in-out;
          }
        }
        &:hover {
          p {
            color: $success-color;
          }
          svg {
            path {
              fill: $success-color;
            }
          }
        }
      }
    }
    .articles_container {
      width: 1200px;
      margin: 0 auto;
      h1 {
        font-size: 32px;
        font-weight: 500;
        margin: 2rem 0;
        text-align: center;

        .light & {
          color: $font-light;
        }
      }
      .article_new {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        //gap: 1rem;
        .article {
          border: 1px solid $borders;
          //height: 13rem;
          width: 32.5%;
          height: 28rem;
          padding: 0.5rem;
          border-radius: 8px;
          margin-bottom: 2rem;
          @include flex(_, _, column, 1rem);
          //background-color: $projects-background-dark;
          box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.08);
          transition: 0.5s ease-in-out;
          @include scale-animations(90%, 10%);
          &:hover {
            background-color: $projects-background-dark;
          }
          .light & {
            background-color: $projects-background-light;
            border: 1px solid $borders-light;

            &:hover {
              background-color: #fff;
              box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.2);
            }
          }
          .img {
            height: 50%;
            width: 100%;
            border-radius: 8px;
            img {
              width: 100%;
              height: 100%;
              border-radius: 8px;
              object-fit: cover;
            }
          }
          .article-info {
            width: 100%;
            a {
              font-weight: 500;
              font-size: 24px;
              color: $headers-dark;
              cursor: pointer;
              transition: 0.5s ease-in-out;
              &:hover {
                color: $hover;
              }
              .light & {
                color: $paragraph-font-light;
                &:hover {
                  color: $hover;
                }
              }
            }
            p {
              font-weight: 400;
              font-size: 16px;
              color: $paragraph-font-dark;
              .light & {
                color: $project-font-color-light;
              }
              &.description {
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 3; // Number of lines to display before ellipsis
                -webkit-box-orient: vertical;
                text-overflow: ellipsis;
              }
            }
            .metadata {
              @include flex(flex-start, center, _, 2rem);
              margin-bottom: 0.5rem;
              margin-top: 0.5rem;

              .genres {
                margin: 0px;
                @include flex(flex-start, flex-start, _, 2rem);
                .genre {
                  @include flex(space-between, center, _, 0.2rem);
                  border: none;
                  background-color: transparent;
                  border-radius: 50px;
                  transition: 0.3s ease-in-out;
                  font-size: 14px;
                  font-weight: 300;
                  &:hover {
                    background-color: $tag-background-dark-hover;
                  }
                  .light & {
                    color: $paragraph-font-light;
                    border: 1px solid $borders-light;
                    background-color: $tag-background-light;
                    &:hover {
                      background-color: $tag-background-light-hover;
                    }
                  }
                  p {
                    color: $paragraph-font-dark;
                    .light & {
                      color: $paragraph-font-light;
                    }
                  }
                  img {
                    height: 1rem;
                  }
                }
              }
              p {
                font-weight: 400;
                font-size: 16px;
                color: $paragraph-font-dark;
                .light & {
                  color: $project-font-color-light;
                }
                &.description {
                  overflow: hidden;
                  display: -webkit-box;
                  -webkit-line-clamp: 3; // Number of lines to display before ellipsis
                  -webkit-box-orient: vertical;
                  text-overflow: ellipsis;
                }
              }
            }
          }
          .reading_time {
            margin: 0.7rem 0;
            display: flex;
            gap: 0.5rem;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  main {
    .hero_container {
      .hero {
        width: 85%;
      }
    }
    .articles_section {
      width: 100%;

      .search_section {
        width: 65%;
      }
      .articles_container {
        width: 90%;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  main {
    .hero_container {
      padding-top: 2.5rem;
      .hero {
        .latest_articles {
          .latest_article {
            .latest_article_info {
              a {
                font-size: 22px;
              }
              .latest_metadata {
                margin-top: 0.5rem;
                margin-bottom: 0.5rem;
                @include flex(flex-start, center, _, 0.5rem);
                .date {
                  font-size: 14px;
                }
                .genres {
                  flex-wrap: nowrap;
                  .genre {
                    img {
                      height: 1.2rem;
                    }
                    flex-wrap: nowrap;
                    font-size: 12px;
                  }
                }
              }
            }
          }
        }
      }
    }
    .articles_section {
      .search_section {
        width: 75%;
      }
      .articles_container {
        width: 75%;

        .article {
          .article-info {
            a {
              font-size: 22px;
            }
            .metadata {
              margin-top: 0.5rem;
              margin-bottom: 0.5rem;
              @include flex(flex-start, center, _, 0.5rem);
              .date {
                font-size: 14px;
              }
              .tags {
                flex-wrap: nowrap;
                .tag {
                  img {
                    height: 1.2rem;
                  }
                  flex-wrap: nowrap;
                  font-size: 12px;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 425px) {
  main {
    .hero_container {
      height: fit-content;
      .hero {
        @include flex(space-between, center, column, _);
        width: 100%;
        padding-top: 4rem;
        .page_info {
          width: 90%;
          margin-bottom: 1rem;
          h1 {
            font-size: 28px;
          }
          p {
            font-size: 16px;
          }
        }
        .latest_articles {
          width: 90%;
        }
      }
    }
    .articles_section {
      .search_section {
        padding: 0;
        width: 90%;
        h1 {
          font-size: 28px;
        }
        form {
          @include flex(center, center, column, 1rem);
          input {
            width: 100%;
          }
          button {
            width: 100%;
          }
        }
      }
      .articles_container {
        width: 90%;
        h1 {
          font-size: 28px;
        }
        .article_new {
          .article {
            width: 100%;
            .article-info {
              a {
                font-size: 18px;
              }
              .description {
                font-size: 14px;
              }
              .metadata {
                margin-top: 0.5rem;
                margin-bottom: 0.5rem;
                @include flex(flex-start, flex-start, column, 0.5rem);
                .date {
                  font-size: 12px;
                }
                .tags {
                  flex-wrap: nowrap;
                  gap: 0.5rem;
                  .tag {
                    img {
                      height: 1rem;
                    }
                    flex-wrap: nowrap;
                    font-size: 10px;
                  }
                }
              }
            }
          }
        }
      }
      /*
      .articles_container {
        width: 95%;
        h1 {
          font-size: 34px;
        }
        .article {
          height: 10rem;
          .article-info {
            a {
              font-size: 22px;
            }
            p {
              font-size: 12px;
            }
            .metadata {
              .tag {
                font-size: 12px;
                svg {
                  height: 16px;
                  width: 16px;
                }
              }
              p {
                font-weight: 400;
                font-size: 12px;
              }
              .date {
                margin-bottom: 1rem;
              }
            }
          }
        }
      }
        */
    }
  }
}
@media screen and (max-width: 375px) {
  main {
    .articles_section {
      .articles_container {
        .article {
          .article-info {
            .metadata {
              @include flex(flex-start, flex-start, _, 1.5rem);

              .tag {
                @include flex(space-between, center, _, 0.3rem);

                svg {
                  height: 14px;
                  width: 14px;
                }
              }
              p {
                font-weight: 400;
                font-size: 12px;
              }
              .date {
                margin-bottom: 1rem;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 320px) {
  main {
    .hero_container {
      .hero {
        .latest_articles {
          .latest_article {
            .latest_article_info {
              .latest_metadata {
                @include flex(_, flex-start, _, 1rem);
                .tag {
                  svg {
                    height: 18px;
                    width: 18px;
                  }
                }
              }
            }
          }
        }
      }
    }
    .articles_section {
      width: 100%;
      margin-top: 2rem;
      .search_section {
        width: 90%;
        h1 {
          font-size: 28px;
        }
        .tags {
          @include flex(space-between, center, row, 0.5rem);
          .tag {
            @include flex(space-between, center, row, 0.5rem);
          }
        }
      }
      .articles_container {
        width: 90%;

        .article {
          height: 8.5rem;

          .img {
            width: 40%;
          }
          .article-info {
            a {
              font-size: 18px;
            }

            .metadata {
              @include flex(flex-start, flex-start, _, 0.5rem);
              .tag {
                font-size: 10px;
                svg {
                  height: 14px;
                  width: 14px;
                }
              }
              p {
                font-size: 10px;
              }
            }
          }
        }
      }
    }
  }
}
