@import '_variables';

.features{
    .light & {
        background-color: $secondary-color-light;
    }
    .features-icons{
        display: flex;
        height: 70%;
        gap: 35px;
        margin: 1.5rem 0;
    }
    .feature{
        height: 100%;
        text-align: center;
        @include flex(center, center, column, 1rem );
        img{
            padding: 9px 15px;
            width: 72px;
            height: 72px;
            border-radius: 8px;
            background-color: $button-secondary;
        }
        h1{
            color: $button-main;
            font-size: 29px;
            font-weight: 500;
            line-height: 125%;
        }
        p{
            color: $paragraph-font-dark;
            .light & {
                color: $project-font-color-light;
            }
        }
    }
}
@media screen and (max-width: 1024px) {
    .features{
        .features-icons{
            gap: 15px;
            margin: 0;
        }
        .feature{
            img{
                width: 62px;
                height: 62px;
            }
            h1{
                font-size: 25px;
            }

        }
    }
}
@media screen and (max-width: 768px) {
    .features{
        .features-icons{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            gap: 3rem;
        }
        .feature{
            width: 45%;
            margin: 0 auto;
        }
    }
}
@media screen and (max-width: 425px) {
    .features{
        .feature{
            width: 100%;
        }
    }
}