@import '_variables';

.features{
    .light & {
        background-color: $secondary-color-light;
    }
    .features-icons{
        display: flex;
        height: 70%;
        gap: 35px;
        margin: 1.5rem 0;
    }
    .feature{
        height: 100%;
        text-align: center;
        @include flex(center, center, column, 1rem );
        img{
            padding: 9px 15px;
            width: 72px;
            height: 72px;
            border-radius: 8px;
            background-color: $button-secondary;
        }
        h1{
            color: $button-main;
            font-size: 29px;
            font-weight: 500;
            line-height: 125%;
        }
        p{
            color: $paragraph-font-dark;
            .light & {
                color: $project-font-color-light;
            }
        }
    }
}