@import '_variables';

footer{
    border-top: 1px solid $borders;
    @include flex(space-around, center, row, _ );
    .copyright{
        p{
            color: $headers-dark;
            font-size: 20px;
            font-weight: 400;
            .light & {
                color: $headers-light ;
            }
        }
    }
}