@import '_variables';

footer{
    border-top: 1px solid $borders;
    @include flex(space-around, center, row, _ );
    .copyright{
        @include flex(space-between, center, row, _ );
        img{
            height: 4rem;
            margin-right: 0.5rem;
        }
        p{
            color: $headers-dark;
            font-size: 20px;
            font-weight: 400;
            .light & {
                color: $headers-light ;
            }
        }
    }
}
@media screen and (max-width: 425px) {
    footer{
        padding: 1rem;
        @include flex(space-around, center, column, _ );
    }
}