@import '_variables';
.hero {
    text-align: center;
    height: 100%;
    background-image: url('/Gradient.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80% 100%;
    text-transform: capitalize;
    @include flex(center, center, column,_ );
    div:nth-child(1){
        width: 70%;
        margin: 2.5rem 0 2.5rem 0;

        h1{
            margin-bottom: 1.5rem;
            font-size: 42px;
            color: $headers-dark;
        }
        p{
            font-size: 20px;
            color: $paragraph-font-dark;
        }
    }
    div:nth-child(2){
        margin-top: 2rem;
        width: 20rem;
        @include btn();
    }
}