@import '_variables';

.hero {
  text-align: center;
  height: 100%;
  background-image: url('/Gradient.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80% 100%;
  text-transform: capitalize;
  @include flex(center, center, column,_ );
  
  div:nth-child(1) {
    width: 70%;
    margin: 2.5rem 0 2.5rem 0;
  
    h1 {
      margin-bottom: 1.5rem;
      font-size: 42px;
      color: $headers-dark;
  
      .light & {
        color: $font-light;
      }
    }
  
    p {
      font-size: 20px;
      color: $paragraph-font-dark;
  
      .light & {
        color: $paragraph-font-light;
      }
    }
  }
  
  div:nth-child(2) {
    margin-top: 2rem;
    width: 20rem;
    @include btn();
  }
}


@media screen and (max-width: 768px) {
  .hero {
    div:nth-child(1) {
      h1 {
        font-size: 32px;
      }
    }
  }
}
@media screen and (max-width: 425px) {
  .hero {
    background-size: 100% 80%;    
    div:nth-child(1) {
      width: 90%;  
      h1 {
        font-size: 28px;

      }   
      p {
        font-size: 18px;
      }
    }
  }
}
@media screen and (max-width: 425px) {
  .hero {
    div:nth-child(2) {
      margin-top: 1rem;
      width: 15rem;
      @include btn-320();
    }
  }
}

