@import '_variables';
.nav.is-active {
  height: 70%;
}
nav {
  width: 490px;
  height: 65px;
  transition: height 0.3s ease-in-out;
  overflow: hidden;
  border-radius: 90px;
  border: 1px solid $borders;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  @include flex(center, _,_,_);
  position: fixed;
  top: 1rem;
  left: 50%; 
  transform: translateX(-50%);
  z-index: 99;
  padding: 0 0.5rem;
  .logo {
    width: 45px;
    height: 45px;
    position: absolute;
    right: 10px;
    top: 9px;
    img {
      width: 45px;
      height: 45px;
    }
  }
  

  ul{
    @include reset-list-styles;
    @include flex(space-around, center, row,_ );
    width: 100%;
    .goHome{
      text-decoration: none;      
      color: white;
      font-size: 16px;
    }
    .navLink{
      cursor: pointer;
      transition: 0.2s ease-in-out;
      &:hover{
        color: $button-main;
      }
    }
    /*!----------------dark mode toggle-----------------------*/
    div {
      border-radius: 25px;  
      .checkbox {
        opacity: 0;
        position: absolute;
      } 
      .checkbox:checked + .label .ball {
        transform: translateX(-24px);
      }
      .label {
        background-color: $main-dark;
        display: flex;
        border-radius: 50px;
        height: 26px;
        width: 50px;
        align-items: center;
        justify-content: space-between;
        position: relative;
        padding: 5px;
        .fa-sun {
          height: 16px;
        }
        .fa-moon {
          height: 16px;
        }
        .ball {
          background-color: $button-secondary;
          position: absolute;
          width: 22px;
          height: 22px;
          top: 2px;
          right: 1.5px;
          border-radius: 50%;
          transition: 0.2s linear;
        }
      }
    }
  }
  &.light {
    div .label {
      background-color: $borders ;
    }
    .navLink{
      color: $secondary-color-dark;
    }
    .selected{
      color: $button-main;
    }
  }
  .mobileNavContainer{
    width: 100%;
    height: fit-content;
    border-radius: 0;
    @include flex(_, _,column,1.5rem);
    padding: 1rem 2rem;
    .mobileNavLink {
      position: relative;
      color: white;
      font-size: 18px;
      cursor: pointer;
      transition: .5s ease-in-out;
      width: fit-content;
      text-decoration: none;
      padding: 0 0 5px 0;
      .light & {
        color: $secondary-color-dark;
      }
      &::before {
        content: ''; 
        position: absolute;
        bottom: 0; 
        left: 0; 
        width: 100%; 
        height: 2px; 
        background-color: $button-main; 
        transform: scaleX(0); 
        transform-origin: left center; 
        transition: transform 0.3s ease; 
      }
    
      &:hover {
        color: $button-main;
    
        &::before {
          transform: scaleX(1); 
        }
      }
    }
    .selected {
      color: $button-main; 
      border-bottom: 2px solid $button-main;
      transition: color 0.2s ease-in-out, border-bottom 0.2s ease-in-out; 
    }
  }
  .selected{
    color: $button-main;
    transition: 0.2s ease-in-out;
    cursor: pointer;
  }
  .mobileNavLinkHome{
    position: relative;
    color: white;
    font-size: 24px;
    cursor: pointer;
    transition: .5s ease-in-out;
    width: fit-content;
    text-decoration: none;
    padding: 0 0 5px 0;
    .light & {
      color: $secondary-color-dark;
    }
      &::before {
        content: ''; 
        position: absolute;
        bottom: 0; 
        left: 0; 
        width: 100%; 
        height: 2px; 
        background-color: $button-main; 
        transform: scaleX(0); 
        transform-origin: left center; 
        transition: transform 0.3s ease; 
      }
    
      &:hover {
        color: $button-main;
    
        &::before {
          transform: scaleX(1); 
        }
      }
  }
}
/*!--------------------------hamburger menu--------------------*/
.hamburger {
  display: block;
  margin: 15px;
  width: 25px;
  cursor: pointer;
  appearance: none;
  background: none;
  outline: none;
  border: none;
  position: absolute;
  top: 2px;
  z-index: 100;
  .bar,
  &::after,
  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: $button-main;
    margin: 6px 0px;
    transition: 0.4s;
  }

  &.is-active::before {
    transform: rotate(-45deg) translate(-2px, 3px);
  }

  &.is-active .bar {
    opacity: 0;
  }

  &.is-active::after {
    transform: rotate(45deg) translate(-9px, -9px);
  }
}




/*? media queries*/
/*?1st one just for hamburger menu*/
@media screen and (min-width: 800px) {
  .hamburger{
    display: none;
  }
  .logo {
    display: none;
  }
  

}
@media screen and (max-width: 800px) {
  nav {
    width: 100%;
    height: 65px;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid $button-secondary;
    top: 0;
    @include flex(space-between, _,_,_);
    .navLink{
      display: none;
    }
    div{
      ul{
        display: block;
      }
    }
  }
}

/*
@media screen and (max-width: 425px) {
  nav {
    width: 350px;
    height: 50px;

    .navLink{
      transition: 0.2s ease-in-out;
      font-size: 12px;
    }
    /*!----------------dark mode toggle-----------------------*/
    /*
    div {
      .label {
        .fa-sun {
          height: 14px;
        }
        
        .fa-moon {
          height: 14px;
        }
        
        .ball {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
@media screen and (max-width: 320px) {
  nav {
    width: 95%;
    .navLink{
      font-size: 11px;
    }
  }
}
*/


