@import '_variables';

nav {
    width: 470px;
    height: 65px;
    border-radius: 90px;
    border: 1px solid $borders;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    @include flex(center, _,_ );
    position: fixed;
    top: 2rem;
    left: 50%; 
    transform: translateX(-50%);
    .selected{
        a{
            color: $button-main;
        }
    }
    ul{
        @include reset-list-styles;
        @include flex(space-around, center, row );
        width: 100%;
        li{
            a{
                color: $headers-dark;
                transition: 0.2s ease-in-out;

            }
            a:hover{
                color: $button-main;
            }
        }
        /*!----------------dark mode toggle-----------------------*/
        div{
            background-color: $main-dark;
            border-radius: 25px;
            .checkbox{
                opacity: 0;
                position: absolute;
            }
            .checkbox:checked + .label .ball{
                transform: translateX(-24px);
            }
            .label{
                background-color: var(--body-dark);
                display: flex;
                border-radius: 50px;
                height: 26px;
                width: 50px;
                align-items: center;
                justify-content: space-between;
                position: relative;
                padding: 5px;
                .fa-sun{
                    height: 16px;
                }
                .fa-moon{
                    height: 16px;
                }
                
                .ball{
                    background-color: $button-secondary;
                    position: absolute;
                    width: 22px;
                    height: 22px;
                    top: 2px;
                    right: 2px;
                    border-radius: 50%;
                    transition:  0.2s linear;
                }
            }
        }
    }
}



