/* COLORS*/

// light mode colors
$main-light: #EFEFEF;
$secondary-color-light: #E4E4E4;
$headers-light: #1e1e1e;
$paragraph-font-light: #4f4f4f;
$project-font-color-light: #737373;
$font-light: #1e1e1e;
//fixed colors
$button-main : #5552FF;
$button-secondary : #c2c0ff;
//dark colors
$main-dark: #101010;
$secondary-color-dark: #1e1e1e;
$headers-dark: #f2f2f2;
$paragraph-font-dark: #898989;
$project-font-color-dark: #898989;

$borders: #cacaca;

/*FUNCTIONS*/ 
@mixin reset-list-styles {
  li {
      list-style-type: none;
      a{
          color: black;
          text-decoration: none;
          text-transform: capitalize;
      }
  }
}
@mixin flex($justify-content, $align-items, $direction) {
  display: flex;
  justify-content: $justify-content;
  align-items:  $align-items;
  flex-direction: $direction;
}
nav {
    width: 470px;
    height: 65px;
    border-radius: 90px;
    border: 1px solid $borders;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    @include flex(center, _,_ );
    position: fixed;
    top: 2rem;
    left: 50%; 
    transform: translateX(-50%);
    .selected{
        a{
            color: $button-main;
        }
    }
    ul{
        @include reset-list-styles;
        @include flex(space-around, center, row );
        width: 100%;
        li{
            a{
                color: $headers-light;
                transition: 0.2s ease-in-out;

            }
            a:hover{
                color: $button-main;
            }
        }
        /*!----------------dark mode toggle-----------------------*/
        div{
            border: 1px solid $button-main;
            //background-color: white;
            border-radius: 25px;
            .checkbox{
                opacity: 0;
                position: absolute;
            }
            .checkbox:checked + .label .ball{
                transform: translateX(24px);
            }
            .label{
                background-color: var(--body-dark);
                display: flex;
                border-radius: 50px;
                height: 26px;
                width: 50px;
                align-items: center;
                justify-content: space-between;
                position: relative;
                padding: 5px;
                .fa-sun{
                    height: 16px;
                }
                .fa-moon{
                    height: 16px;
                }
                
                .ball{
                    background-color: $button-secondary;
                    position: absolute;
                    width: 22px;
                    height: 22px;
                    top: 2px;
                    left: 2px;
                    border-radius: 50%;
                    transition:  0.2s linear;
                }
            }
        }
    }
}



