@import '_variables';

.project--container {
    padding: 6rem 1rem 2rem;
    .title {
        text-align: center;
        margin-bottom: 1.5rem;

        h1 {
            font-size: 29px;
            font-weight: 500;
            color: $button-main;
        }
        p {
            font-size: 16px;
            color: $paragraph-font-dark;

            .light & {
                color: $paragraph-font-light;
            }
        }
    }
    .image--container {
        height: 70vh;
        @include flex(_, _, _,10px );
        margin-bottom: 2.5rem;
        .main--img{
            width: 50%;
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 10px;
            }
        }
        .sec-images{
            width: 50%;
            height: 100%;
            @include flex(_, _, column,10px );
            div{
                height: 49%;
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 10px;

                }
            }
        }
    }
    .project--info{
        @include flex(_, _, _,_ );

        .project--description{
            width: 50%;
            h1{
                font-weight: 400;
                font-size: 22px;
                color: $headers-dark;
                margin-bottom: 1.3rem;
                .light & {
                    color: $headers-light;
                }
            }
            p{
                font-size: 16px;
                color: $paragraph-font-dark;
                margin-bottom: 1.3rem;
                .light & {
                    color: $paragraph-font-light;
                }
            }
            div{
                @include btn();
                display: flex;
            }
        }
        .project--tools{
            width: 50%;
            margin-left: 1rem;
            .project--type{
                h1{
                    font-weight: 400;
                    font-size: 22px;
                    color: $headers-dark;
                    margin-bottom: 1.3rem;
                    .light & {
                        color: $headers-light;
                    }
                }
                p{
                    font-size: 16px;
                    color: $paragraph-font-dark;
                    margin-bottom: 1.3rem;
                    .light & {
                        color: $paragraph-font-light;
                    }
                }
            }
            .projects--languages{
                h1{
                    font-weight: 400;
                    font-size: 22px;
                    color: $headers-dark;
                    margin-bottom: 1.3rem;
                    .light & {
                        color: $headers-light;
                    }
                }
                .languages{
                    @include flex(_, _, _,10px );
                    height: 5rem;
                    div{
                        height: 100%;
                        width: 5rem;
                        img{
                            object-fit: contain;
                            height: 100%;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
