@import '_variables';

.project--container {
    padding: 6rem 6rem 2rem;
    .title {
        text-align: center;
        margin-bottom: 1.5rem;

        h1 {
            font-size: 29px;
            font-weight: 500;
            color: $button-main;
        }
        p {
            font-size: 16px;
            color: $paragraph-font-dark;

            .light & {
                color: $paragraph-font-light;
            }
        }
    }
    .image--container {
        cursor: pointer;
        height: 70vh;
        @include flex(_, _, _,10px );
        margin-bottom: 2.5rem;
        .main--img{
            width: 50%;
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 10px;
            }
        }
        .sec-images{
            width: 50%;
            height: 100%;
            @include flex(_, _, column,10px );
            div{
                height: 49%;
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 10px;

                }
            }
        }
    }
    .project--info{
        @include flex(_, _, _,_ );

        .project--description{
            width: 50%;
            h1{
                font-weight: 400;
                font-size: 22px;
                color: $headers-dark;
                margin-bottom: 1.3rem;
                .light & {
                    color: $headers-light;
                }
            }
            p{
                font-size: 16px;
                color: $paragraph-font-dark;
                margin-bottom: 1.3rem;
                .light & {
                    color: $paragraph-font-light;
                }
            }
            div{
                @include btn();
                @include flex(_, _, _,_ );
                ul {
                    .secondary-btn{
                        margin: 0 1rem ;
                    }
                }
            }
        }
        .project--tools{
            width: 50%;
            margin-left: 1rem;
            .project--type{
                h1{
                    font-weight: 400;
                    font-size: 22px;
                    color: $headers-dark;
                    margin-bottom: 1.3rem;
                    .light & {
                        color: $headers-light;
                    }
                }
                p{
                    font-size: 16px;
                    color: $paragraph-font-dark;
                    margin-bottom: 1.3rem;
                    .light & {
                        color: $paragraph-font-light;
                    }
                }
            }
            .projects--languages{
                h1{
                    font-weight: 400;
                    font-size: 22px;
                    color: $headers-dark;
                    margin-bottom: 1.3rem;
                    .light & {
                        color: $headers-light;
                    }
                }
                .languages{
                    @include flex(_, _, _,25px );
                    flex-wrap: wrap;
                    div{
                        height: 100%;
                        width: 3rem;
                        height: 3rem;
                        img{
                            width: 60px;
                            height: 60px;
                            padding: .7rem;
                            border-radius: 8px;
                            background-color: $button-secondary;
                        }
                    }
                }
            }
        }
    }
    .gallery--container{
        position: fixed;
        width: 100%;
        height: 100%;
        bottom: 0;
        right: 0;
        z-index: 99;
        backdrop-filter: blur(12px) saturate(180%);
        -webkit-backdrop-filter: blur(16px) saturate(180%);        
        padding: 2rem 3rem;
        display: none;
        &.show {
            display: block;
          }
        h1{
            font-weight: 500;
            color: $button-main;
            text-align: center;
            margin-bottom: 1.5rem;
        }
        .gallery{
            @include flex(center, _, _,10px );
            flex-wrap: wrap;
            overflow-y: scroll;
            height: 90%;
            div{
                height: fit-content;
                width: 25rem;
                img{
                    object-fit: contain;
                    height: 100%;
                    width: 100%;
                    border-radius: 10px;

                }
            }

        }
        .enlarged-image {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            overflow: hidden;
            border-radius: 10px;
            backdrop-filter: blur(5px) saturate(180%);
            -webkit-backdrop-filter: blur(16px) saturate(180%); 
            img {
                width: 85%;
                height: fit-content;
                object-fit: contain;
                border-radius: 10px;
                border: 1px solid $borders;
            }
        }
          
    }
}
@media screen and (max-width: 768px) {
    .project--container {
        .project--info{
            .project--description{
                div{
                    ul {
                        @include flex(flex-start, _, column,_ );
                        .main-btn{
                            width: 100%;
                            text-align: center;
                        }
                        .secondary-btn{
                            margin: 1rem 0rem;
                        }
                    }
                }
            }
        }
    }
}
  
@media screen and (max-width: 425px) {
    .project--container {
        padding: 4.5rem 2rem 2rem;
        .image--container {
            height: fit-content;
            @include flex(_, center, column,10px );
            margin-bottom: 1.5rem;
            .main--img{
                width: 90%;
            }
            .sec-images{
                width: 90%;
            }
        }
        .project--info{
            @include flex(_, _, column,1rem );
            .project--description{
                width: 90%;
            }
            .project--tools{
                width: 100%;
                margin-left: 0rem;
            }
        }
    }
}
@media screen and (max-width: 320px) {
    .project--container {
        padding: 4.5rem 1.5rem 2rem;
        .image--container {
            .main--img{
                width: 100%;
            }
            .sec-images{
                width: 100%;
            }
        }
        .gallery--container{
            h1{
                font-size: 25px;
            }
        }
    }
}
  