@import '_variables';

.skills {
    padding: 6rem  2rem 2rem 2rem;    
    background-color: $secondary-color-dark;
    height: 100%;
    @include flex(center, _, column, _ );
    .light & {
        background-color: $secondary-color-light; 
    }
    .info {
        h1{
            margin-bottom: 0;
        }
    }
    .mySwiper{
        .swiper-button-next,
        .swiper-button-prev {
          color: $button-main;
        }
    }
    .skills-container{
        @include flex(flex-start, _, row, 1rem );
        flex-wrap: wrap;
        div{
            width: 32%;
            height: fit-content;
            text-align: center;
            padding: 1rem 0;
            margin: 0 auto;
            img{
                width: 60px;
                height: 60px;
                padding: .7rem;
                border-radius: 8px;
                background-color: $button-secondary;
            }
            h2{
                margin: .2rem 0;
                color: $button-main;
                font-weight: 500;
                font-size: 20px;
            }
            p{
                color: $paragraph-font-dark;
                font-size: 14px;
                .light & {
                    color: $paragraph-font-light;
                }
            }
        }
    }

}
@media screen and (max-width: 1440px) {
    .skills {
        padding: 0rem  2rem 2rem 2rem;  
    }
}
@media screen and (max-width: 1024px) {
    .skills {
        padding: 5.5rem  2rem 2rem 2rem;   
        .skills-container{
            flex-wrap: wrap;
            div{
                width: 45%;
            }
        }
    }
}
@media screen and (max-width: 425px) {
    .skills {
        padding: 4.5rem  0;   
        .skills-container{
            div{
                width: 80%;
            }
        }
    }
}
@media screen and (max-width: 375px) {
    .skills {
        .skills-container{
            div{
                width: 90%;
            }
        }
    }
}

